---
layout: default
---
<main class="home">
  <h1>{{ site.title }}</h1>

  {{ content }}

  <section class="writing">
    <h2>Writing</h2>
    <ul>
      {% for post in site.posts %}{% unless post.hidden %}
      <li>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
      </li>
      {% endunless %}{% endfor %}
    </ul>
  </section>

  <section class="writing">
    <h2>Projects</h2>
    <ul>
      <li>
        <a href="/ai-skills/">Intent and trust signals in AI instructions</a>
      </li>
      <li>
        <a href="https://anthonycozart.github.io/fjord-ranger/">Fjord Ranger 🤖</a>
      </li>
      <li>
        <a href="https://anthonycozart.github.io/wdydy/index.html">WDYDY</a>
      </li>
    </ul>
  </section>
</main>
